@import "settings/reset";
@import "settings/mixin";
@import "settings/root";

@import "settings/fonts";
@import "layouts/icons";





body, html {
  overflow-x: hidden;
  min-width: 350px;

}


body {
  @include fontMain;

  min-height: 100vh;
  background: var(--bg-grey-light);
  font-size: 16px;
  color: var(--text-tx-black);
  line-height: 160%;
}

a {
  color: var(--text-tx-black);
  outline: none;
  position: relative;
  &:hover {
    color: var(--text-tx-red);
  }
}








.container {

  min-width: 296px;
}



main {
  overflow: hidden;
  padding-top: 16px;
}

.object-fit-cover {
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    max-width: none;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-first);
  opacity: 0;
  z-index: 10;
  transition: 0.4s cubic-bezier(0.8, 0, 0.33, 1);
  &.active {
    opacity: 0.7;
  }
}
.hidden-scroll {
  overflow: hidden;
  position: relative;
  touch-action: none;
  -ms-touch-action: none;

}

.show-menu {
  touch-action: none;
  -ms-touch-action: none;

}


.row {
  > .list-view {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.list-view {
  > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}


.mac-device, .ios-device {

}

.blur-section {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: none;
  transition: 0.15s;
}

.blur {
  .blur-section {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  main {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {

  .margin-bottom {
    margin-bottom: 60px;
  }
}




@import "settings/grid-b5";
@import "form/buttons";
@import "form/inputs";

@import "layouts/header";


@import "pages/all";
@import "pages/index/index";
@import "layouts/items";
@import "layouts/items-blog";

@import "layouts/modals";
@import "layouts/login_modal";
@import "layouts/footer";
