$bs-gutter-x: 1.5rem;
$bs-gutter-y: 0;
$padding: 10px;
.container,
.container-fluid {
  width: 100%;
  padding-right: $padding;
  padding-left:  $padding;
  margin-right: auto;
  margin-left: auto; }


@media (min-width: 576px) {
  .container {
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    max-width: 992px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1180px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1394px; } }

@media (min-width: 768px) and (max-width:991px) {
  .container,
  .container-fluid {
    padding-right: 20px;
    padding-left:  20px;
    }
}
@media (max-width:767px) {
  .container,
  .container-fluid {
    padding-right: 16px;
    padding-left:  16px;
   }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: $padding * -1;
  margin-left: $padding * -1;
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: $padding;
  padding-left: $padding;
  margin-top: 0; }

@media (max-width: 767px) {
  $mobilePadding: 8px;
  .container,
  .container-fluid {
    padding-right: $mobilePadding * 2;
    padding-left:  $mobilePadding * 2;
    }
  .row {
    margin-right: $mobilePadding * -1;
    margin-left: $mobilePadding * -1;
  }
  .row > * {
    padding-right: $mobilePadding;
    padding-left: $mobilePadding;
   }
}


.col {
  flex: 1 0 0%; }


@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%; }

}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%; }

}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%; }

}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%; }

}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%; }

}
.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%; }

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%; }

.col-3 {
  flex: 0 0 auto;
  width: 25%; }

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%; }

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%; }

.col-6 {
  flex: 0 0 auto;
  width: 50%; }

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%; }

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%; }

.col-9 {
  flex: 0 0 auto;
  width: 75%; }

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%; }

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%; }

.col-12 {
  flex: 0 0 auto;
  width: 100%; }


@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%; }

}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%; }



}
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%; }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%; }
}
@media (min-width: 1400px) {
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%; }
}


.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-items-end {
  justify-items: end;
}



.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }




.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }



.order-0 {
  order: 0 !important; }

.order-1 {
  order: 1 !important; }

.order-2 {
  order: 2 !important; }

.order-3 {
  order: 3 !important; }

.order-4 {
  order: 4 !important; }

.order-5 {
  order: 5 !important; }


.order-6 {
  order: 6 !important; }


.text-start {
  text-align: left !important; }
.text-end {
  text-align: right !important; }
.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important; }

  .d-sm-inline-block {
    display: inline-block !important; }

  .d-sm-block {
    display: block !important; }



  .d-sm-flex {
    display: flex !important; }

  .d-sm-none {
    display: none !important; }



  .justify-content-sm-start {
    justify-content: flex-start !important; }

  .justify-content-sm-end {
    justify-content: flex-end !important; }

  .justify-content-sm-center {
    justify-content: center !important; }

  .justify-content-sm-between {
    justify-content: space-between !important; }

  .justify-content-sm-around {
    justify-content: space-around !important; }



  .align-items-sm-start {
    align-items: flex-start !important; }

  .align-items-sm-end {
    align-items: flex-end !important; }

  .align-items-sm-center {
    align-items: center !important; }



  .align-content-sm-start {
    align-content: flex-start !important; }

  .align-content-sm-end {
    align-content: flex-end !important; }

  .align-content-sm-center {
    align-content: center !important; }

  .align-content-sm-between {
    align-content: space-between !important; }


  .align-self-sm-auto {
    align-self: auto !important; }

  .align-self-sm-start {
    align-self: flex-start !important; }

  .align-self-sm-end {
    align-self: flex-end !important; }

  .align-self-sm-center {
    align-self: center !important; }


  .order-sm-0 {
    order: 0 !important; }

  .order-sm-1 {
    order: 1 !important; }

  .order-sm-2 {
    order: 2 !important; }

  .order-sm-3 {
    order: 3 !important; }

  .order-sm-4 {
    order: 4 !important; }

  .order-sm-5 {
    order: 5 !important; }

  .order-sm-6 {
    order: 6 !important; }


  .text-sm-start {
    text-align: left !important; }
  .text-sm-end {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; }
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important; }



  .d-md-flex {
    display: flex !important; }


  .d-md-none {
    display: none !important; }



  .justify-content-md-start {
    justify-content: flex-start !important; }

  .justify-content-md-end {
    justify-content: flex-end !important; }

  .justify-content-md-center {
    justify-content: center !important; }

  .justify-content-md-between {
    justify-content: space-between !important; }




  .align-items-md-start {
    align-items: flex-start !important; }

  .align-items-md-end {
    align-items: flex-end !important; }

  .align-items-md-center {
    align-items: center !important; }


  .align-content-md-start {
    align-content: flex-start !important; }

  .align-content-md-end {
    align-content: flex-end !important; }

  .align-content-md-center {
    align-content: center !important; }

  .align-content-md-between {
    align-content: space-between !important; }

  .align-self-md-auto {
    align-self: auto !important; }

  .align-self-md-start {
    align-self: flex-start !important; }

  .align-self-md-end {
    align-self: flex-end !important; }

  .align-self-md-center {
    align-self: center !important; }
  .order-md-0 {
    order: 0 !important; }

  .order-md-1 {
    order: 1 !important; }

  .order-md-2 {
    order: 2 !important; }

  .order-md-3 {
    order: 3 !important; }

  .order-md-4 {
    order: 4 !important; }

  .order-md-5 {
    order: 5 !important; }

  .order-md-6 {
    order: 6 !important; }



  .text-md-start {
    text-align: left !important; }
  .text-md-end {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; }
}
@media (min-width: 992px) {

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  .d-lg-block {
    display: block !important; }


  .d-lg-flex {
    display: flex !important; }


  .d-lg-none {
    display: none !important; }


  .justify-content-lg-start {
    justify-content: flex-start !important; }

  .justify-content-lg-end {
    justify-content: flex-end !important; }

  .justify-content-lg-center {
    justify-content: center !important; }

  .justify-content-lg-between {
    justify-content: space-between !important; }




  .align-items-lg-start {
    align-items: flex-start !important; }

  .align-items-lg-end {
    align-items: flex-end !important; }

  .align-items-lg-center {
    align-items: center !important; }


  .align-content-lg-start {
    align-content: flex-start !important; }

  .align-content-lg-end {
    align-content: flex-end !important; }

  .align-content-lg-center {
    align-content: center !important; }

  .align-content-lg-between {
    align-content: space-between !important; }


  .align-self-lg-auto {
    align-self: auto !important; }

  .align-self-lg-start {
    align-self: flex-start !important; }

  .align-self-lg-end {
    align-self: flex-end !important; }

  .align-self-lg-center {
    align-self: center !important; }



  .order-lg-0 {
    order: 0 !important; }

  .order-lg-1 {
    order: 1 !important; }

  .order-lg-2 {
    order: 2 !important; }

  .order-lg-3 {
    order: 3 !important; }

  .order-lg-4 {
    order: 4 !important; }

  .order-lg-5 {
    order: 5 !important; }

  .order-lg-6 {
    order: 6 !important; }


  .text-lg-start {
    text-align: left !important; }
  .text-lg-end {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; }
}
@media (min-width: 1200px) {

  .d-xl-block {
    display: block !important; }

  .d-xl-flex {
    display: flex !important; }

  .d-xl-none {
    display: none !important; }

  .justify-content-xl-start {
    justify-content: flex-start !important; }

  .justify-content-xl-end {
    justify-content: flex-end !important; }

  .justify-content-xl-center {
    justify-content: center !important; }

  .justify-content-xl-between {
    justify-content: space-between !important; }




  .align-items-xl-start {
    align-items: flex-start !important; }

  .align-items-xl-end {
    align-items: flex-end !important; }

  .align-items-xl-center {
    align-items: center !important; }


  .align-content-xl-start {
    align-content: flex-start !important; }

  .align-content-xl-end {
    align-content: flex-end !important; }

  .align-content-xl-center {
    align-content: center !important; }

  .align-content-xl-between {
    align-content: space-between !important; }


  .align-self-xl-auto {
    align-self: auto !important; }

  .align-self-xl-start {
    align-self: flex-start !important; }

  .align-self-xl-end {
    align-self: flex-end !important; }

  .align-self-xl-center {
    align-self: center !important; }



  .order-xl-0 {
    order: 0 !important; }

  .order-xl-1 {
    order: 1 !important; }

  .order-xl-2 {
    order: 2 !important; }

  .order-xl-3 {
    order: 3 !important; }

  .order-xl-4 {
    order: 4 !important; }

  .order-xl-5 {
    order: 5 !important; }

  .order-xl-6 {
    order: 6 !important; }

  .text-xl-start {
    text-align: left !important; }
  .text-xl-end {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; }
}
@media (min-width: 1400px) {


  .d-xxl-block {
    display: block !important; }


  .d-xxl-flex {
    display: flex !important; }


  .justify-content-xxl-start {
    justify-content: flex-start !important; }

  .justify-content-xxl-end {
    justify-content: flex-end !important; }

  .justify-content-xxl-center {
    justify-content: center !important; }

  .justify-content-xxl-between {
    justify-content: space-between !important; }



  .align-items-xxl-start {
    align-items: flex-start !important; }

  .align-items-xxl-end {
    align-items: flex-end !important; }

  .align-items-xxl-center {
    align-items: center !important; }



  .align-content-xxl-start {
    align-content: flex-start !important; }

  .align-content-xxl-end {
    align-content: flex-end !important; }

  .align-content-xxl-center {
    align-content: center !important; }

  .align-content-xxl-between {
    align-content: space-between !important; }


  .align-self-xxl-auto {
    align-self: auto !important; }

  .align-self-xxl-start {
    align-self: flex-start !important; }

  .align-self-xxl-end {
    align-self: flex-end !important; }

  .align-self-xxl-center {
    align-self: center !important; }


  .order-xxl-0 {
    order: 0 !important; }

  .order-xxl-1 {
    order: 1 !important; }

  .order-xxl-2 {
    order: 2 !important; }

  .order-xxl-3 {
    order: 3 !important; }

  .order-xxl-4 {
    order: 4 !important; }

  .order-xxl-5 {
    order: 5 !important; }

  .order-xxl-6 {
    order: 6 !important; }

  .text-xxl-start {
    text-align: left !important; }

  .text-xxl-end {
    text-align: right !important; }
  .text-xxl-center {
    text-align: center !important; }
}