@mixin Gradient-horisontal($from-color, $to-color){
  background: $from-color;
  background: -moz-linear-gradient(left, $from-color 0%, $to-color 100%);
  background: -webkit-linear-gradient(left, $from-color 0%, $to-color 100%);
  background: linear-gradient(to right, $from-color 0%, $to-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from-color', endColorstr='$to-color',GradientType=1 );
}

@mixin Gradient-vertical($from-color, $to-color){
  background: $from-color;
  background: -moz-linear-gradient(top, $from-color 0%, $to-color 100%);
  background: -webkit-linear-gradient(top, $from-color 0%, $to-color 100%);
  background: linear-gradient(to bottom, $from-color 0%, $to-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from-color', endColorstr='$to-color',GradientType=1 );
}

@mixin Gradient-diagonal-bottom($from-color, $to-color){
  background: $from-color;
  background: -moz-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -webkit-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: linear-gradient(135deg, $from-color 0%, $to-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from-color', endColorstr='$to-color',GradientType=1 );
}

@mixin Gradient-diagonal-up($from-color, $to-color){
  background: $from-color;
  background: -moz-linear-gradient(45deg, $from-color 0%, $to-color 100%);
  background: -webkit-linear-gradient(45deg, $from-color 0%, $to-color 100%);
  background: linear-gradient(45deg, $from-color 0%, $to-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from-color', endColorstr='$to-color',GradientType=1 );
}

@mixin Gradient-radial($from-color, $to-color){
  background: $from-color;
  background: -moz-radial-gradient(center, ellipse cover, $from-color 0%, $to-color 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $from-color 0%,$to-color 100%);
  background: radial-gradient(ellipse at center, $from-color 0%,$to-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from-color', endColorstr='$to-color',GradientType=1 );
}

@mixin icon {
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$root-font-size:16;
