:root {
  --color-basic-black-solid: #000;
  --color-green: #6ab956;
  --color-spring-green: #53a974;
  --color-red-bright: #f00;
  --color-red-bright-2: #e60000;
  --color-orange: #e66400;
  --color-yellow: #e9a631;
  --color-grey: #505966;
  --stroke: #eaedf7;
  --color-basic-white: #fff;
  --color-background: #f7f8fb;
  --text-secondary: #6b737c;
  --bg-red-normal: var(--foundation-red-normal);
  --color-grey-gray-100: #000;
  --color-grey-gray-150: #fff;
  --color-grey-gray-200: #fff;
  --color-grey-gray-900: #141414;
  --color-grey-gray-800: #1b1b1b;
  --color-grey-gray-700: #222;
  --color-grey-gray-600: #333;
  --color-grey-gray-500: #616161;
  --color-grey-gray-400: #8c8c8c;
  --color-grey-gray-300: #c8c8c8;
  --light: #fee6e6;
  --light-hover: #fdd9d9;
  --light-active: #fab0b0;
  --normal: #f00000;
  --normal-hover: #d80000;
  --dark: #b40000;
  --dark-hover: #900000;
  --normal-active: #c00000;
  --dark-active: #6c0000;
  --darker: #540000;
  --foundation-gray-light-hover: #fcfcfe;
  --foundation-gray-light-active: #f8f9fd;
  --foundation-gray-light: #fdfdfe;
  --foundation-gray-normal: #eaedf7;
  --foundation-gray-normal-hover: #d3d5de;
  --foundation-gray-normal-active: #bbbec6;
  --foundation-gray-dark-hover: #8c8e94;
  --foundation-gray-dark-active: #696b6f;
  --foundation-gray-dark: #b0b2b9;
  --foundation-gray-darker: #525356;
  --foundation-red-light: #fee6e6;
  --foundation-red-light-hover: #fdd9d9;
  --foundation-red-light-active: #fab0b0;
  --foundation-red-normal: #f00000;
  --foundation-red-normal-hover: #d80000;
  --foundation-red-dark: #b40000;
  --foundation-red-dark-hover: #900000;
  --foundation-red-normal-active: #c00000;
  --foundation-red-dark-active: #6c0000;
  --foundation-red-darker: #540000;
  --foundation-blue-light-hover: #e3edfd;
  --foundation-blue-light-active: #c4d9fc;
  --foundation-blue-light: #ecf3fe;
  --foundation-blue-normal: #4285f4;
  --foundation-blue-normal-hover: #3b78dc;
  --foundation-blue-normal-active: #356ac3;
  --foundation-blue-dark-hover: #285092;
  --foundation-blue-dark-active: #1e3c6e;
  --foundation-blue-dark: #3264b7;
  --foundation-blue-darker: #172f55;
  --foundation-yellow-light-hover: #fff4d9;
  --foundation-yellow-light-active: #ffe8b0;
  --foundation-yellow-light: #fff8e6;
  --foundation-yellow-normal: #ffb400;
  --foundation-yellow-normal-hover: #e6a200;
  --foundation-yellow-normal-active: #cc9000;
  --foundation-yellow-dark-hover: #996c00;
  --foundation-yellow-dark-active: #735100;
  --foundation-yellow-dark: #bf8700;
  --foundation-yellow-darker: #593f00;
  --foundation-orange-light-hover: #fff1e9;
  --foundation-orange-light-active: #ffd4bb;
  --foundation-orange-light: #fff1e9;
  --foundation-orange-normal: #ff7324;
  --foundation-orange-normal-hover: #e66820;
  --foundation-orange-normal-active: #cc5c1d;
  --foundation-orange-dark-hover: #994516;
  --foundation-orange-dark-active: #733410;
  --foundation-orange-dark: #bf561b;
  --foundation-orange-darker: #59280d;
  --foundation-green-light-hover: #daeae3;
  --foundation-green-light-active: #b3d3c6;
  --foundation-green-light: #e7f1ed;
  --foundation-green-normal: #0a7146;
  --foundation-green-normal-hover: #09663f;
  --foundation-green-normal-active: #085a38;
  --foundation-green-dark-hover: #06442a;
  --foundation-green-dark-active: #05331f;
  --foundation-green-dark: #085535;
  --foundation-green-darker: #042819;
  --text-tx-black: var(--color-basic-black-solid);
  --text-tx-white: var(--color-basic-white);
  --icon-ic-white: var(--color-basic-white);
  --icon-ic-black: var(--color-basic-black-solid);
  --bg-red-hover: var(--foundation-red-normal-hover);
  --bg-red-press: var(--foundation-red-normal-active);
  --bg-red-disabled: rgba(240, 0, 0, 0.3);
  --stroke-normal: var(--foundation-red-normal);
  --stroke-hover: var(--foundation-red-normal-hover);
  --stroke-press: var(--foundation-red-normal-active);
  --icon-ic-red: var(--normal);
  --text-tx-red: var(--foundation-red-normal);
  --bg-blue-normal: var(--foundation-blue-normal);
  --bg-blue-hover: var(--foundation-blue-normal-hover);
  --bg-blue-press: var(--foundation-blue-normal-active);
  --bg-blue-disable: rgba(66, 133, 244, 0.3);
  --text-tx-dark-grey: var(--color-grey-gray-600);
  --text-tx-grey: var(--color-grey-gray-500);
  --text-tx-light-grey: var(--color-grey-gray-400);
  --icon-ic-red-hover: rgba(240, 0, 0, 0.15);
  --icon-ic-dark-grey: var(--color-grey-gray-600);
  --icon-ic-grey: var(--color-grey-gray-500);
  --icon-ic-light-grey: var(--color-grey-gray-400);
  --icon-ic-grey-hover: rgba(97, 97, 97, 0.15);
  --bg-grey-normal: var(--foundation-gray-normal);
  --bg-grey-light: var(--foundation-gray-light-active);
  --bg-grey-dark: var(--foundation-gray-dark);
  --bg-white: var(--color-basic-white);
  --stroke-light-grey: var(--color-grey-gray-300);
  --stroke-black: var(--color-grey-gray-900);
  --stroke-grey: var(--color-grey-gray-500);
  --bg-white-800: rgba(255, 255, 255, 0.8);
  --bg-dark: var(--color-basic-black-solid);
  --bg-white-400: rgba(255, 255, 255, 0.4);
  --color-basic-light-purple: #dde2ff;
  --bg-grey-hover: var(--foundation-gray-normal-hover);
  --pic-bg:#d7e4ff;
}