footer {
  margin-top: 49px;
  background: var(--bg-dark);
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-copyright {
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size:  14px;
  color: var(--text-tx-light-grey);
  margin-top: -48px;
}
.footer__left {

  &_form {
    background: var(--bg-white);
    border-radius: 20px;
    padding: 24px 16px;
    &_title {
      opacity: 0.8;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: var(--text-tx-black);
    }
    &_text {
      opacity: 0.8;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      text-align: center;
      color: var(--text-tx-grey);
      padding-top: 8px;
      padding-bottom: 12px;
    }

    &__submit {
      padding-top: 12px;
      button {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 12px;
        font-weight: 500;
        @extend .btn-large;
      }
    }
  }

  &_social_time {
    padding-top: 23px;
  }
  &_social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -4px;
    li {
      padding: 0 4px;
      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        margin-top: 4px;
        border-radius: 8px;
        box-shadow: 2px 3px 16px 0 rgba(0, 0, 0, 0.02);
        background: var(--bg-white);
        svg {
          fill: var(--color-basic-black-solid);
        }
        &:hover{
          svg {
            fill: var(--foundation-red-normal);
          }
        }

      }
    }
  }
  &_time {
    font-size: 14px;
    line-height: 160%;
    color: var(--text-tx-white);
    padding-top: 4px;
  }
}
.footer__right {
  &_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_list {
      max-width: 33.33333333%;
      &_title {
        font-weight: 700;
        color: var(--text-tx-light-grey);
        padding-left: 12px;
        padding-right: 12px;
      }
      &_items {
        padding-top: 16px;
        li {
          a, span {
            font-weight: 500;
            color: var(--text-tx-white);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            //padding-top: 8px;
            //padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
            min-height: 42px;
            line-height: 130%;
            padding-top: 4px;
            padding-bottom: 8px;

          }
          a {
            &:hover { color: var(--text-tx-red);}
          }
        }
      }
    }
  }

  &_pay {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 4px 12px 8px 12px;
    &_logo {
      padding-top: 4px;
    }
    &_items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -4px;
      > div {
        padding: 0px 4px 0 4px;
        height: 33px;
        margin-top: 4px;
        svg {
          height: 33px;
        }
      }
    }

  }
  &_additional_nav {
    padding-top: 32px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -12px;
    }
    li {
      padding-right: 32px;
      a, span {
        font-weight: 500;
        color: var(--text-tx-grey);
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 42px;
      }
      a {
        &:hover { color: var(--text-tx-red);}
      }
    }
  }
  &_partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 10px -10px 0 -10px;
    position: relative;
    z-index: 2;
    svg, img {
      max-height: 48px;
    }
    > div {

      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;

    }
    > div, > div a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 48px;
    }
  }
}
@media (min-width: 992px) {
  .footer__left {
    margin-right: -23px;
  }
  .footer__right {
    margin-left: -37px;
  }

}

@media (max-width: 1399px) {
  .footer__right_additional_nav li {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  footer {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 73px;
  }
  .footer__left {

    &_form {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 16px;
      border-radius: 16px;
      &_text {
        padding-bottom: 8px;
      }
      &__submit {
        padding-top: 13px;
        button {
          width: 100%;
          margin-top: 17px;

        }
      }
    }
    &_social_time {
      padding-top: 24px;
    }
    &_social {
      justify-content: center;
      li a {

        width: 60px;
        height: 60px;
        margin-top: 4px;
        border-radius: 16px;
        box-shadow: 4px 5px 28px 0 rgba(0, 0, 0, 0.02);
        svg {
          width: 28px;
          height: 32px;
        }
      }
    }
    &_time {
      text-align: center;
      padding-top: 20px;
    }
  }
  .footer__right {
    &_nav {
      margin-top: 30px;
    }
    &_pay {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      background: none;
      border-radius: 0;
      padding: 0;
      &_logo {
        width: 100%;
        order: 2;
        padding-top: 8px;
        a {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: var(--bg-red-normal);
        }
      }
      &_items {
        width: 100%;
        order: 1;
        background: rgba(255, 255, 255, 0.1);
        justify-content: center;
       padding-top: 10px;
        padding-bottom: 16px;
        border-radius: 4px;
        margin-left: 0;
        margin-right: 0;

      }
    }
    &_partners {
      justify-content: center;
      margin-top: 14px;
    }
    &_additional {
      &_nav {
        padding-top: 24px;
        li {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          a, span {
            font-size: 14px;
            font-weight: 400;
            min-height: 38px;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .footer-copyright {
    height: auto;
    margin-top: 0;
    justify-content: center;
    padding-top: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  footer {
    padding-top: 36px;
    padding-bottom: 96px;
    margin-top: 24px;
  }
  .footer__left {
    &_form {
      &__submit {
        padding-top: 8px;
        button {
          margin-top: 12px;
        }
      }

      &_social {

      }
    }
  }
}