.header-bottom {
  border-bottom: 1px solid var(--stroke);
  padding-top: 12px;
  padding-bottom: 12px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > li {
      position: relative;
      > a, > span {
        display: flex;
        flex-wrap: wrap;
        height: 42px;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 500;
        color: var(--color-basic-black-solid);
        cursor: pointer;
      }
      &:hover {
        > a {
          color: var(--text-tx-red);
        }
        .header-bottom__list_hidden {
          display: flex;
        }
        &.has-hidden-list {
          &:before {display: block;}
        }
      }
      &.has-hidden-list {
        &:before {
          display: none;
          content: '';
          position: absolute;
          width: 14px;
          height: 9px;
          top: 100%;
          left: 50%;
          margin-left: -7px;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92773 0L13.8559 8.25H-0.000468731L6.92773 0Z' fill='%23F00000'/%3E%3C/svg%3E");
        }
      }
    }


    &_hidden {
      display: none;
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 5;
      padding: 28px 2px 20px 2px;
      min-width: 100%;
      &:before {
        position: absolute;
        content: '';
        z-index: -1;
        left: 0;
        top: 8px;
        right: 0;
        bottom: 0;
        border: 2px solid var(--stroke-normal);
        border-radius: 8px;

        background: #fff;

      }
      > .col-auto {
        padding-left: 20px;
        padding-right: 20px;
      }



      &_category {
        padding-top: 24px;
        &:first-child {
          padding-top: 0;
        }
      }
      &_title {
        position: relative;
        a, span {
          padding-top: 4px;
          padding-bottom: 4px;
          font-weight: 700;
          color: var(--text-tx-black);
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          line-height: 1;
        }
        &.icon {
          padding-left: 36px;
          &:before {

            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 0;
            color: #000;
            font-size: 24px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &_links {
        padding-top: 16px;
        > div {
          display: flex;
        }
        a {
          display: block;
          padding: 4px 8px;
          line-height: 150%;
        }
        .marker {
          font-size: 8px;
          line-height: 120%;
          padding-top: 4px;
          margin-left: -6px;
          color: var(--text-tx-red);
          cursor: default;
        }
      }
    }
  }
}