.blog-item-col {
  padding-top: 20px;
}
.blog-item-wrap {
  padding: 20px;
  background: var(--bg-white);
  border: 1px solid var(--stroke);
  border-radius: 16px;
  height: 100%;
  transition: 0.1s;
  &:hover {
    box-shadow: 0 10px 80px -10px rgba(21, 21, 21, 0.2);
    border: 1px solid var(--stroke-normal);
    .blog-item-wrap__center_img {
      img {
        transform:scale(1.05);
      }
    }
  }
  &__top {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &_author {
      position: relative;
      padding-left: 66px;



      &_img {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &_name {
        font-weight: 600;
        line-height: 160%;

      }
      &_type {
        font-weight: 500;
        font-size: 14px;
        color: var(--text-tx-light-grey);
        line-height: 160%;
        position: relative;
        bottom: 2px;
      }
    }
    &_category {
      &_button {
        border: 1px solid var(--stroke-black);
        border-radius: 20px;
        padding: 0 12px 0 12px;
        height: 30px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__center {
    padding-top: 20px;
      &_img {
        padding-top: 58.614%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: 0.15s;
        }
      }
  }
  &__bottom {
    padding-top: 20px;
    &_stars_date {
      display: flex;
      flex-wrap: wrap;
      height: 24px;
      align-items: center;
      justify-content: space-between;
      &_stars {
        $starWidth: 130px;
        width: $starWidth;
        height: 19px;
        overflow: hidden;
        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14'%3E%3Cpath fill='none' stroke='rgb(97,97,97)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M6.9,1.1C6.9,1,7,1,7,0.9c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1S7.6,1,7.6,1.1l1.5,3.6c0,0.1,0.1,0.1,0.1,0.2C9.3,4.9,9.3,5,9.4,5l3.8,0.3c0.3,0,0.5,0.4,0.2,0.7l-2.9,2.4c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2l0.8,3.8c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1l-3.3-2c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1l-3.3,2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2L4,8.9c0-0.1,0-0.1,0-0.2S3.9,8.6,3.9,8.5L1.2,5.9c-0.1,0-0.1-0.1-0.1-0.2s0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0.1-0.1,0.2-0.1l3.8-0.3c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.1-0.2L6.9,1.1z'/%3E%3C/svg%3E");//stroke
        background-repeat: repeat-x;
        background-position: 0 50%;
        > div {
          width: calc(var(--vote-rating) * (#{$starWidth} / 5));
          height: 100%;
          position: relative;
          //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14'%3E%3Cpath fill='rgb(97,97,97)' stroke='rgb(97,97,97)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M6.9,1.1C6.9,1,7,1,7,0.9c0.1,0,0.1-0.1,0.2-0.1s0.1,0,0.2,0.1S7.6,1,7.6,1.1l1.5,3.6c0,0.1,0.1,0.1,0.1,0.2C9.3,4.9,9.3,5,9.4,5l3.8,0.3c0.3,0,0.5,0.4,0.2,0.7l-2.9,2.4c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2l0.8,3.8c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1l-3.3-2c-0.1,0-0.1-0.1-0.2-0.1S7.1,10.9,7,11l-3.3,2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2L4,8.9c0-0.1,0-0.1,0-0.2S3.9,8.6,3.9,8.5L1.2,5.9c-0.1,0-0.1-0.1-0.1-0.2s0-0.1,0-0.2s0.1-0.1,0.1-0.2c0,0,0.1-0.1,0.2-0.1l3.8-0.3c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.1-0.2L6.9,1.1z'/%3E%3C/svg%3E"); //fill
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14'%3E%3Cpath fill='none' stroke='rgb(97,97,97)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M6.9,1.1C6.9,1,7,1,7,0.9c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1S7.6,1,7.6,1.1l1.5,3.6c0,0.1,0.1,0.1,0.1,0.2C9.3,4.9,9.3,5,9.4,5l3.8,0.3c0.3,0,0.5,0.4,0.2,0.7l-2.9,2.4c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2l0.8,3.8c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1l-3.3-2c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1l-3.3,2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2L4,8.9c0-0.1,0-0.1,0-0.2S3.9,8.6,3.9,8.5L1.2,5.9c-0.1,0-0.1-0.1-0.1-0.2s0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0.1-0.1,0.2-0.1l3.8-0.3c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.1-0.2L6.9,1.1z'/%3E%3C/svg%3E");//stroke
          background-repeat: repeat-x;
          background-position: 0 50%;
        }
      }
      &_date {
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        color: var(--text-tx-light-grey);
        padding-top: 1px;
      }
    }
    &_title {
      margin-top: 24px;
      a, > * {
        font-weight: 600;
        font-size: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.35;
        height: calc(1.35em * 2);

      }
    }
    &_text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5;
      height: calc(1.5em * 3);
    }
  }
}