.modal {
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 12;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
  &.visible {
    .modal-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
  button {
    width: 100%;
    margin-top: 8px;
  }
}

.modal-close {
  &__bg {
    position: absolute;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.4);
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  &__button {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    &:before {
      content: '';
      position: absolute;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
    }
    div {
      position: absolute;
      left:0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(45deg);
      &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: var(--icon-ic-red);
        border-radius: 2px;
      }
      &:before {
        width: 20px;
        height: 2px;
        margin-top: -1px;
        margin-left: -10px;
      }
      &:after {
        height: 20px;
        width: 2px;
        margin-left: -1px;
        margin-top: -10px;
      }
    }
  }

}

.modal-back {
  &__button {
    width: 24px;
    height: 24px;
    top: 10px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    &:before {
      color: var(--icon-ic-red);
      transform: rotate(-180deg);
    }
    &:after {
      content: '';
      position: absolute;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
    }
  }
}
.modal-container-group {
  padding-top: 16px;
}
.modal-container {
  position: relative;
  z-index: 2;
  width: 500px;
  background: var(--bg-grey-light);
  max-width: 100%;

  border-radius: 8px;
  overflow: hidden;
  transform: translateY(-16px);
  opacity: 0;
  transition: 0.15s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  //padding: 12px 12px 16px 12px;
  padding: 44px 20px 16px 20px ;
  &__content {
    //padding: 44px 12px 16px 12px ;

    width: 100%;
    &_title {
      padding-left: 44px;
      padding-right: 44px;
      padding-top: 6px;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      text-align: center;
      color: var(--text-tx-black);
      min-height: 31px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      &_text {
        padding-top: 8px;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        color: var(--text-tx-black);
      }

    }
  }
}
#modal-contact {
  .modal-container {
    background: linear-gradient(180deg, #fff 0%, #dde2ff 100%);
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 12px;
    &__content {


      &_title {
        font-size: 26px;
        line-height: 135%;
        padding-top: 0;
        min-height: 44px;
      }
    }
  }
  .modal-close__button {
    top: 22px;
  }
}

.modal-contact {
  padding-top: 4px;
  position: relative;

  > * {
    position: relative;
    z-index: 2;
  }
  &__items {
    padding-top: 16px;
    text-align: center;
    &_name {
      line-height: 150%;
      color: var(--text-tx-light-grey);
    }
    &_content {
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      color: var(--text-tx-black);
      padding-top: 8px;
    }
  }
  &__callback {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    padding-bottom: 4px;
    background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    span {
      padding-left: 48px;
      padding-right: 16px;
      height: 63px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      color: var(--icon-ic-red);
      &:before {
        position: absolute;
        font-size: 23px;
        width: 24px;
        height: 24px;
        left: 16px;
        top: 50%;
        margin-top: -12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

    }
  }
  &__messengers {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    background: var(--color-basic-light-purple);


    &_title {
      width: 100%;
      text-align: center;
      font-weight: 600;
    }
    &_items {
      margin-left: -4px;
      margin-right: -4px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 8px;
      &_item {
        padding-left: 6px;
        padding-right: 6px;
        width: auto;
        padding-top: 12px;
        > * {
          width: 80px;
          height: 80px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          border-radius: 19px;
          box-shadow: 5px 7px 33px 0 rgba(0, 0, 0, 0.02);
          background: var(--bg-white);
        }
      }
    }

  }
}

#modal-restore-send, #modal-restore-password  {
  .modal-container {
    align-items: flex-end;
  }
}
#modal-restore-send {
  button {margin-top: 90px}

}
#modal-restore-password {
  button {margin-top: 52px}

}

.modal-restore-password-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  input {
    width: 20%;
  }
}


@media (max-width: 991px) {
  .modal-contact__items_content {font-size: 20px; line-height: 150%}
}

@media (max-width: 400px) {
  .modal-container__content_title {padding-left: 16px}
}