.home-collection {
  background: rgba(221, 226, 255, 0.5);
  padding-top: 44px;
  padding-bottom: 44px;
  .section-titles {
    margin-bottom: 16px;
  }
  &__row {
    margin-top: 16px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    border: 1px solid var(--stroke);
    border-radius: 16px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  &__img {
    position: relative;
    height: 100%;
    min-height: 238px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 135%;
    color: var(--text-tx-black);
  }
  &__text {
    font-size: 18px;
    color: var(--text-tx-black);
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    //text-overflow: ellipsis;
    line-height: 1.6;
    height: calc(1.6em * 4);
    p {
      margin-top: 12px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__link {
    .icon {
      padding-right: 32px;
      color: var(--icon-ic-red);
      &:before {
        right: 0;
        color: var(--icon-ic-red);

      }
    }
  }
}

@media (max-width: 991px) {
  .home-collection {
    padding-top: 72px;
    background: none;
    .section-titles {margin-bottom: 4px}
    &__row {
      padding-right: 9.065%;
      border: 0;
      border-radius: 0;
    }
    &__img {

    }
    &__wrap {
      padding-top: 20px;
      margin-right: -9.065%;
    }

    &__title {
      font-size: 24px;
    }
    &__text {
      //-webkit-line-clamp: 4;
      //height: calc(1.6em * 4);
      margin-bottom: 13px;
    }
    &__link {
      margin-top: 12px;
      .icon {
        height: 44px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }
}


@media (max-width: 767px) {
  .home-collection-nowrap {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .home-collection {

    .section-titles {
      margin-bottom: 0;
    }
    &__row {
      padding-right: 0;
      margin-top: 20px;

    }
    &__img {
      width: 220px;
    }
    &__wrap {
      margin-right: 0;
    }

    &__title {
      font-size: 20px;
      line-height: 140%;
    }
    &__text {
      -webkit-line-clamp: 7;
      height: calc(1.6em * 7);
      margin-bottom: 12px;
    }
    &__link {


    }
  }
}
