.home-viewed-products {
  padding-bottom: 32px;
  .flow-next, .flow-back {display: none;}
}

@media (max-width: 991px) {
  .home-viewed-products {
    margin-top: 32px;
    padding-bottom: 24px;
    .section-go-to {
      margin-bottom: -8px;
    }
  }
  .slider-viewed {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 18px;
    padding-right: 18px;
    &.flow-slider {
      overflow-x: hidden;
    }


    .items-col {
      padding-left: 2px;
      padding-right: 2px;
    }
    .item-wrap {
      width: 240px;
    }

  }
}

@media (max-width: 767px) {
  .home-viewed-products {
    margin-top: 0;
  }
}