.home-style {
  padding-bottom: 36px;
  &__bg {
    background: var(--foundation-yellow-normal);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    &_paw1, &_paw2 {
      position: absolute;
      opacity: 0.4;
    }
    &_paw1 {
      right: 0;
      top: 0;
    }
    &_paw2 {
      bottom: 0;
      left: 283px;
    }
    &:before, &:after {

      @include icon;
    }
    &:before {
      width: 254px;
      height: 289px;
      right: 0;
      top: -83px;
      transform: rotate(-5deg);
    }
    > .row {
      position: relative;
      z-index: 1;
    }
  }
  &__img {
    position: relative;
    width: 382px;
    height: 100%;
    min-height: 365px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    height: 100%;
    > * {
      width: 100%;
      text-align: center;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
  }
  &__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    padding-top: 12px;
  }
  &__buttons {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    flex: 1 0 0%;
    > div {
      padding: 16px 16px 0 16px;
      flex: 0 0 auto;
      width: 33.33333333%;
    }
    a {

      display: flex;
      flex-wrap: wrap;
      border-radius: 100px;
      padding: 1px 10px 0 10px;
      height: 42px;
      background: var(--bg-white-800);
      font-weight: 500;
      text-align: center;
      align-content: center;
      justify-content: center;
    }
  }
  &__quality {
    padding-top: 40px;
    span {
      font-size: 18px;
      position: relative;
      padding-left: 57px;
      &:before {
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .home-style__title {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .home-style {
    padding-top: 36px;
    &__img {
      width: 100%;
      height: 300px;
      min-height: auto;
    }
    &__wrap {
      margin-left: 0;
      padding-top: 20px;
      padding-left: 12px;
      padding-right: 12px;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 16px;
      padding-top: 8px;
    }
    &__buttons {
      margin-left: 0;
      margin-right: 0;
      padding-top: 4px;
       > div {
        width: 100%;
         padding-left: 0;
         padding-right: 0;
      }
    }
    &__quality {
      padding-top: 20px;
      span {
        font-size: 12px;
        line-height: 120%;
        padding-top: 3px;
        padding-bottom: 4px;
      }
    }
  }
}