.home-advantages {
  margin-top: 36px;
  &__bg {
    background-color: var(--bg-blue-normal);
    border-radius: 12px;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 12px;
    padding-left: 27.439%;
    background-image: url("../images/advantage/advantage-bg.webp");
    background-repeat: repeat;
    background-position: 50% 0;
    position: relative;
    .row {
      margin-left: -20px;
      margin-right: -20px;
      justify-content: space-between;
    }
    [class*="col"] {
      padding-left: 20px;
      padding-right: 20px;
      flex: auto;
    }
    &_pic {
      position: absolute;
      left: 26px;
      bottom: -3px;
      width: 230px;
      height: 180px;
      picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        transition: 0.15s;
      }
    }
  }
  &__item {
    backdrop-filter: blur(4px);
    background: var(--bg-white-400);
    height: 100px;
    padding-right: 12px;
    padding-left: 120px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &_img {
      width: 100px;
      height: 100px;
      border: 1px solid var(--stroke);
      border-radius: 12px;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 32px;
      }
    }
    &_text {
      font-weight: 500;
      font-size: 18px;
      max-width: 212px;
    }
  }
}

@media (max-width: 1399px) {
  .home-advantages {
    &__bg {
      padding-left:20%;
      &_pic {
        left: 0;
        bottom: -18px;
        width: 194px;
      }
      .row {
        margin-left: -10px;
        margin-right: -10px;
      }
      [class*="col"] {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &__item {
      padding-right: 10px;
      padding-left: 110px;
      &_text {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 991px) {
  .home-advantages {
    margin-top: 32px;
    &__bg {
      padding-left: 86px;
      padding-top: 16px;
      padding-bottom: 16px;
      &_pic {
        left: -2px;
        bottom: 0;
        width: 98px;
        height: 108px;
      }
      .row {
        margin-left: -4px;
        margin-right: -4px;
      }
      [class*="col"] {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
    &__item {
      padding-left: 0;
      padding-right: 0;
      align-items: flex-start;
      border: 1px solid var(--stroke);
      border-radius: 8px;
      height: 100%;
      padding-bottom: 8px;
      padding-top: 40px;
      &_img {
        width: auto;
        height: 40px;
        left: -1px;
        right: -1px;
        top: -1px;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:before {
          font-size: 16px;
        }
      }
      &_text {
        font-size: 8px;
        line-height: 120%;
        font-weight: 400;
        text-align: center;
        padding-top: 8px;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


@media (max-width: 767px) {
  .home-advantages {
    margin-top: 0;
  }
}

