form {

}
input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
}
input, select, textarea {
  width: 100%;
  outline: none;
  background: none;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid var(--foundation-gray-dark-hover);
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  &:active, &:focus {

  }
  &::-webkit-input-placeholder {
    color: var(--text-tx-light-grey);
    font-family: 'Montserrat', sans-serif;
  }
  &::-moz-placeholder {
    color: var(--text-tx-light-grey);
    font-family: 'Montserrat', sans-serif;
  }
  &:-ms-input-placeholder {
    color: var(--text-tx-light-grey);
    font-family: 'Montserrat', sans-serif;
  }
  &:-moz-placeholder {
    color: var(--text-tx-light-grey);
    font-family: 'Montserrat', sans-serif;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
select {
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //background-image: url("../images/arrow-form-down.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 14px 8px;
  option {
    color: #333;
  }
}
textarea {
  $areaHeight: 98px;
  resize: none;
  height: $areaHeight;
  max-height: $areaHeight;
  min-height: $areaHeight;

  padding-top: 18px;
  vertical-align: top;
}


label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;


}
.form-group {
  position: relative;
  padding-top: 12px;
}
.has-error {
  input, select, textarea {
    border-color: var(--foundation-red-normal);
    box-shadow: 0 0 0 0 rgba(138, 138, 138, 0.25) inset;
  }

  label {
    &.active-label {
      color: #868483;
    }
  }
  .help-block {
    display: block;
  }
}
//.required {
//  label {
//    position: relative;
//    padding-right: 7px;
//    &:before {
//      position: absolute;
//      right: 0;
//      top: 0;
//      font-size: 14px;
//      content: '*';
//      color: var(--foundation-red-normal);
//    }
//  }
//}


.help-block {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: var(--foundation-red-normal);
  margin-top: 5px;
  display: none;
}



button {
  @extend .btn;
  @extend .btn-medium;

  outline: none;
  border: 0;
  cursor: pointer;
}

input[type='radio'], input[type='checkbox'] {
  box-shadow: none !important;
  display: none;
  + label {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    padding-left: 36px;
    padding-top: 0;
    line-height: 160%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: 7px;
      top: 50%;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      border: 2px solid var(--icon-ic-dark-grey);
      opacity: 0.6;
      z-index: 2;
    }
    &:after {
      z-index: 3;
      content: '';
      transition: 0.15s;
      transform: scale(0);
      position: absolute;
      top: 50%;
    }

  }
  &:checked {
    + label {
      &:before {

        border: 2px solid var(--foundation-red-normal);
        opacity: 1;
      }
      &:after {
        transform: scale(1);

      }
      + div + .forms__text,+ .forms__text {
        display: block;
      }
    }

  }
}


input[type='checkbox'] {
  + label {
    &:before {
      border-radius: 2px;
    }
    &:after {

      left: 7px;
      top: 50%;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM7.71 13.29C7.32 13.68 6.69 13.68 6.3 13.29L2.71 9.7C2.32 9.31 2.32 8.68 2.71 8.29C3.1 7.9 3.73 7.9 4.12 8.29L7 11.17L13.88 4.29C14.27 3.9 14.9 3.9 15.29 4.29C15.68 4.68 15.68 5.31 15.29 5.7L7.71 13.29Z" fill="rgb(240,0,0)" /> </svg>');
      background-repeat: no-repeat;
      background-position: 50% 0;


    }
  }
  &:checked {

  }
}
input[type='radio'] {
  + label {
    &:before, &:after {
      border-radius: 100%;
    }
    &:after {

      left: 8px;

      margin-top: -8px;
      width: 16px;
      height: 16px;
      border: 1px solid #fff;
    }
  }
  &:checked {
    + label {
      &:before {
        background: var(--foundation-red-normal);
      }
    }
  }
}



.disabled {
  input[type='radio'], input[type='checkbox'] {
    + label {
      &:before, &:after {
        transition: 0s;
      }
    }
    &:checked {
      + label {
        &:before, &:after {
          transition: 0s;
        }
      }
    }
  }
  input[type='checkbox'] {
    + label {
      &:before {
        opacity: 0.3;
      }
      &:after {
        opacity: 0.3;
      }
    }
    &:checked {
      + label {
        &:before {
          opacity: 0;
        }
      }
    }
  }
  input[type='radio'] {
    + label {
      &:before {
        opacity: 0.3;
      }
    }
  }
}

.show-password {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 9px;
  right: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.03613 12.322C1.96712 12.1146 1.96712 11.8904 2.03613 11.683C3.42313 7.51 7.36013 4.5 12.0001 4.5C16.6381 4.5 20.5731 7.507 21.9631 11.678C22.0331 11.885 22.0331 12.109 21.9631 12.317C20.5771 16.49 16.6401 19.5 12.0001 19.5C7.36213 19.5 3.42613 16.493 2.03613 12.322Z" stroke="%23616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z" stroke="%23616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  background-position: 0 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 24px;
  &.visible {
    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -12px;
      background: #616161;
      transform: rotate(-30deg);
    }


  }
  &:after {
      content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: -6px;
    top: -6px;
  }
}